body{
    margin: 0px;
    padding: 0px;
}
.wrapper {
    width: 1400px;
    background: rgb(198,197,197);
    background: linear-gradient(90deg, rgba(198,197,197,1) 0%, rgba(233,233,233,1) 25%, rgba(248,249,249,1) 75%, rgba(198,197,197,1) 100%); 
    height: 100vh;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    margin-top: 135px;
}
.gallery {
    width: 900px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 3px 5px 5px #aaaaaa, -3px 5px 5px #aaaaaa;
    border-radius: 5px;
}

.arrow:hover{
    cursor: pointer;
}
.arrow:hover .cls-1 {
    cursor: pointer;
    fill: #aaaaaa;
}
.left{
    margin-left: 20px;
}
.right {
    transform: rotate(0.5turn);
    margin-right: 20px;
}

main {
width: 800px;
height: 400px;
margin-left: auto;
margin-right: auto;
background-color: yellow;
display: flexbox;
}


img {
    width: 800px;
    height: 400px;
    object-fit: cover;
    object-position: 100% 0;
}
.story {
    background-color: rgba(25, 25, 25, .6);
    position: relative;
    height: 125px;
    bottom: 129px;
    z-index: +1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    
}
h1 {
    color: white;
    margin: 0px;
    margin-bottom: 17px;
    font-family: 'Ubuntu', sans-serif;
}
p {
    color: white;
    vertical-align: bottom;
    margin: 0px;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 25px;

}

.thumbnail {
    height: 75px;
    width: 75px;
    background: rgb(235,234,234);
    background: linear-gradient(0deg, rgba(235,234,234,1) 0%, rgba(255,255,255,1) 100%);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0px 12px 10px -10px #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th{
    width: 65px;
    height: 65px;
    object-fit: cover;
    object-position: 100% 0;
    pointer-events: none
}

.bubble {
    position: absolute;
    top: 542px;
    background: rgba(0,0,0,0.8);
    padding: 5px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    border-radius: 5px;
    display: none;
}

.thumbnail:hover{
    cursor: pointer;
}
.thumbnail:hover .bubble{
    display: block;
}
